**/Clase01/
**/Clase02/
**/Clase03/
**/Clase04/
**/Clase05/
**/Clase06/
**/Clase07/
**/Clase08/
**/Clase09/
**/Clase10/
**/Clase11/
**/Clase12/
**/Clase13/
**/Clase14/
**/main
**/target/
**/Cargo.lock
**/bin/